
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <hrader>
        <nav>
            <a href="/Student/Index" class="btn btn-info">Get All Students</a>
            <a href="/Student/Update" class="btn btn-info">Update Student</a>
            <a href="/Student/Delete" class="btn btn-info">Delete Student</a>
            <a href="/Student/Create" class="btn btn-info">Create Student</a>
        </nav>
    </hrader>
    <main> <p class="text-success bg-warning ">Delete Student</p></main>
    <footer><p class="bg-dark text-white">This is footer</p></</footer>
</body>
</html>
